* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #fafafa;
  --primary-text-color: #000000;
  --secondary-text-color: #8e8e8e;
  --accent-color: #0095f6;
  --secondary-accent-color: #b2dffc;
}

body {
  background: var(--bg-color);
  color: var(--primary-text-color);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.phone-image {
  width: 520px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 20px;
}

.form img {
  width: 400px;
}

.form input {
  width: 100%;
  margin: 5px 20px;
  height: 50px;
  padding: 10px;
  outline: none;
  border: none;
  background: var(--bg-color);
  border-radius: 2px;
}

.form button {
  width: 100%;
  background: var(--secondary-accent-color);
  color: var(--bg-color);
  padding: 10px;
  border: none;
  outline: none;
  margin-top: 15px;
  border-radius: 5px;
  height: 40px;
}

.form a {
  margin-top: 10px;
  color: #385185;
  font-size: 12px;
  text-decoration: none;
  font-family: sans-serif;
}
